@charset "UTF-8";
@font-face {
	font-family: Roboto;
	src: url(Roboto-Regular.ttf);
}

* {
	padding: 0px;
	margin: 0px;
	outline: none;
}

h4 {
	font-weight: bolder;
}
h5 {
	font-weight: bolder;
}
input {
	border: 2px solid #8996a1;
	border-radius: 4px;
	height: 50px;
	color: #4b5c6b;
}
input::placeholder {
	color: #8996a1;
}
.btnPrimary {
	background-color: #6558f5;
	color: white;
	border: none;
	border-radius: 5px;
	height: 40px;
	cursor: pointer;
}

.btnPrimary:hover {
	background-color: #4a3fc2;
	transition-duration: 0.6s;
}

.tooltip-container {
	position: relative;
	display: inline-block;
  }

.tooltip-container .tooltiptext {
	visibility: hidden;
	background-color: #4b5c6b;
	color: #fff;
	text-align: center;
	padding: 5px 10px;
	border-radius: 6px;
	position: absolute;
	font-weight: bolder;
	z-index: 1;
	width: calc(100% + 50px);
	top: 100%;
	left: 50%;
	margin-left: calc(-100% / 2 - 25px);
}

.tooltip-container:hover .tooltiptext {
	visibility: visible;
}

.tooltip-container .tooltiptext::after {
	content: " ";
	position: absolute;
	bottom: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent transparent #4b5c6b transparent;
}