.card-container {
    .border-card {
        border: 2px solid #aebbc7;
    }
    .img-card {
        position: relative;
        height: 330px;
        background-color: #dfe6ed;
        border-bottom: 2px solid #aebbc7;
        font-weight: bolder;
        color: #FFF;

        i {
            position: absolute;
            top: 20px;
            right: 20px;
            font-size: 30px;
            cursor: pointer;
        }
        img {
            object-fit: fill;
            height: 100%;
            width: 100%;
        }
        p {
            position: absolute;
            width: 100%;
            text-align: center;
            bottom: 0px;
            padding: 5px;
            background-color: rgba($color: #4b5c6b, $alpha: 0.5);
        }
    }

    .info-card {
        b {
            font-size: 13pt;
        }
        p {
            font-size: 11pt;
        }
        i {
            color: #4b5c6b;
        }
    }
}